## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as-
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## Default activity renderer for any kind of activity notification.
#template('notification/macros.vm')
##Check if that works with jsfx
#set ($smallIcon = "branch")
#set ($mainIcon = "branch")
#define ($content)
<div class="notification-description">
  #set ($actor = $services.activitypub.resolve($activity.actor))
  #set ($username = $actor.preferredusername)
  <div class="activity-type">$activity.type</div>
  #if ($activity.accepted)
    #set ($summary = "$username is now following you.")
  #elseif(!$activity.rejected)
    #set ($summary = "$username wants to follow you.")
  #end
  <div class="activity-summary">$summary</div>
  #if (!$activity.accepted && !$activity.rejected)
  <div class="action">
    <input type="hidden" name="follow-id" value="$activity.id" />
    <input type="button" name="follow-answer" id="$activity.id" value="Accept" class="btn-primary" />
    <input type="button" name="follow-answer" id="$activity.id" value="Reject" class="btn-primary" />
  </div>
  #end
  <div><small class="text-muted">$escapetool.xml($services.date.displayTimeAgo($event.date))</small></div>
</div>
#end
#set ($details = "")
#displayNotificationEventSkeleton($mainIcon $smallIcon $content $details)