## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template('notification/macros.vm')
## FIXME: Check how to use JSX there
#set ($smallIcon = "branch")
#set ($mainIcon = "branch")
#define ($content)
<div class="notification-description">
    #set ($rejectActor = $services.activitypub.resolve($activity.actor))
    #if ($services.activitypub.isCurrentUser($acceptActor))
        #set ($object = $services.activitypub.resolve($activity.object))
        #set ($actor = $services.activitypub.resolve($object.actor))
        #set ($summary = "$actor.preferredUsername follow request has been rejected.")
    #else
        #set ($summary = "$rejectActor.preferredUsername rejected your follow request.")
    #end
    #set ($username = $actor.preferredUsername)
    <div class="activity-type">Follow</div>
    <div class="activity-summary">$summary</div>
    <div><small class="text-muted">$escapetool.xml($services.date.displayTimeAgo($event.date))</small></div>
</div>
#end
#set ($details = "")
#displayNotificationEventSkeleton($mainIcon $smallIcon $content $details)