## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template('activitypub/macros.vm')

#set ($smallIcon = "link")
#define ($content)
<div class="notification-description">
  <div class="activity-type">$services.localization.render('activitypub.event.announce.type')</div>
  <div class="activity-summary">#getAPEventSummary('activitypub.event.announce.summary')</div>
  <div><small class="text-muted">$compositeEventDate</small></div>
</div>
#end

#define ($details)
  #define($rows)
    #foreach($event in $compositeEvent.events)
      #set ($activity = $eventActivities.get($event))
      #set ($actor = $services.activitypub.resolve($activity.actor))
      #set ($object = $services.activitypub.resolve($activity.object))
      #if ("$!object.url" != "")
        #if ($services.activitypub.belongsToCurrentInstance("$object.url.get(0)"))
          #set($objectLink = "<a href=""$object.url.get(0)"">$object.name</a>")
        #else
          #set($objectLink = "<span class=""wikiexternallink""><a href=""$object.url.get(0)"">$object.name</a></span>")
        #end
      #else
        #set($objectLink = $object.name)
      #end
      #define ($actorLink)
        #activityPubActorLink($actor)
      #end
    <div>
    </div>
      #if ($object.isDocument())
        #define($description)
        <div class="modal fade activitypub-modal" tabindex="-1" role="dialog" id="evt-modal-$event.id">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">$object.name</h4>
              </div>
              <div class="modal-body">
                $object.content
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div>
          <button type="button" class="btn btn-primary btn-xs" id="btn-modal-$event.id">
            $services.localization.render('activitypub.event.activity.page.view')
          </button>
          <script type="text/javascript">
            require(['jquery'], function($) {
              $("#evt-modal-$event.id").prependTo('body');
              $(document).ready(function() {
                $("#btn-modal-$event.id").click(function(){
                  $("#evt-modal-$event.id").modal('toggle');
                });
              })
            });
          </script>
        </div>
        #end
        #set ($introduction = "$services.localization.render('activitypub.event.announce.description.withActor',
          [$actorLink]) $objectLink")
        #displayAPEventDetailLarge($event $actor $introduction $description 'div')
      #else
        #define ($optionalContent)
          #set ($originalAuthor = $services.activitypub.resolve($object.attributedTo[0]))
          #if($originalAuthor)
          <span>
            $services.localization.render('activitypub.event.announce.originalAuthor.label')
            #computeUserLink($originalAuthor)
          </span>
          #end
        #end
        #set ($introduction =
          "$services.localization.render('activitypub.event.announce.description.withActor', [$actorLink])" +
            " ${object.type}#if ($object.name) <a href='$object.id'>$object.name</a>#end.")
        #displayAPEventDetailLarge($event $actor $introduction $object.content $optionalContent 'blockquote')
      #end
    #end
  #end
  #displayNotificationEventDetailsSkeletons($events.size() $rows)
#end

#displayNotificationEventSkeleton($mainIcon $smallIcon $content $details)