## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## Helper macros for ActivityPub notifications.
#template('notification/macros.vm')

#set ($discard = $xwiki.ssx.use('ActivityPub.WebHome'))
#set ($discard = $xwiki.jsx.use('ActivityPub.UserLikes'))

#set ($smallIcon = "branch")
#set ($mainIcon = "branch")
#set ($eventNumber = $compositeEvent.events.size())
#set ($compositeEventDate = $escapetool.xml($services.date.displayTimeAgo($compositeEvent.dates.get(0))))

#macro (insertEventDate $event)
  <td class="text-right text-muted">
    $escapetool.xml($services.date.displayTimeAgo($event.date))
    #insertLikeButton($event)
  </td>
#end

#macro (insertLikeButton $event)
  #set ($activity = $eventActivities.get($event))
  #set ($isLiked = $services.activitypub.isLiked($activity.id))
  <button class="btn btn-xs notification-like hidden #if(!$isLiked)not-liked#end" title="Like"
          #if($isLiked)disabled="disabled"#end" data-activity-id="$activity.id">
    <span class="fa fa-heart"></span>
  </button>
#end

#macro (insertEventDateDiv $event)
<div class="text-right text-muted">
  <small>$escapetool.xml($services.date.displayTimeAgo($event.date))</small>
  #insertLikeButton($event)
</div>
#end

#macro (computeUserName $actor)
  #if($actor.name && $actor.name != '')
    $actor.name
  #elseif ($actor.preferredUsername && $actor.preferredUsername != '')
    $actor.preferredUsername
  #else
    $services.webfinger.getWebfingerId($actor)
  #end
#end

#macro (computeUserLink $actor)
<a href='$actor.id'>
  #computeUserName($actor)
</a>
#end

#macro (activityPubActorLink $actor)
#set ($username = $services.webfinger.getWebfingerId($actor))
<span class="notification-event-user">
  #if ($services.activitypub.belongsToCurrentInstance("$actor.id"))
    <a href="$actor.id">$username</a>
  #else
    <span class="wikiexternallink"><a href="$actor.id">$username</a></span>
  #end
</span>
#end

#macro (displayAPEventDetail $event $actor $summary)
  #set ($username = $services.webfinger.getWebfingerId($actor))
<tr>
  <td>
    <span class="notification-event-user">
    #if ($services.activitypub.belongsToCurrentInstance("$actor.id"))
      <a href="$actor.id">$username</a>
    #else
      <span class="wikiexternallink"><a href="$actor.id">$username</a></span>
    #end
    </span>
  </td>
  <td class="description">$summary</td>
  #insertEventDate($event)
</tr>
#end

#macro (displayAPEventDetailLarge $event $actor $introduction $summary $summaryTag)
<tr>
  <td class="description">
    <div class="activitypub notifications col-xs-12">
      <p>$introduction</p>
      <$summaryTag class="activitypub notifications">$!summary</$summaryTag>
      #if ($optionalContent)
        $!optionalContent
      #end
      #insertEventDateDiv($event)
    </div>
  </td>
</tr>
#end

#macro (getAPEventSummary $translationPrefix)
  #if ($eventNumber == 1)
    #set($translationKey = $translationPrefix + ".singular")
    $services.localization.render($translationKey)
  #else
    #set($translationKey = $translationPrefix + ".plural")
    $services.localization.render($translationKey, [$eventNumber])
  #end
#end