## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
## Helper macros for ActivityPub notifications.
#template('notification/macros.vm')

#set ($smallIcon = "branch")
#set ($mainIcon = "branch")
#set ($eventNumber = $compositeEvent.events.size())
#set ($compositeEventDate = $escapetool.xml($services.date.displayTimeAgo($compositeEvent.dates.get(0))))

#macro (insertEventDate $event)
  <td class="text-right text-muted">$escapetool.xml($services.date.displayTimeAgo($event.date))</td>
#end

#macro (displayAPEventDetail $event $actor $summary)
  #set ($username = $services.webfinger.getWebfingerId($actor))
<tr>
  <td><span class="notification-event-user"><a href="$actor.id">$username</a></span></td>
  <td class="description">$summary</td>
  #insertEventDate($event)
</tr>
#end

#macro (getAPEventSummary $translationPrefix)
  #if ($eventNumber > 1)
    #set($translationKey = "$translationPrefix.singular")
    $services.localization.render($translationKey)
  #else
    #set($translationKey = "$translationPrefix.plural")
    $services.localization.render($translationKey, [$eventNumber])
  #end
#end