## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#template('activitypub/macros.vm')

#set ($smallIcon = "comment")
#define ($content)
<div class="notification-description">
  <div class="activity-type">$services.localization.render('activitypub.event.mention.type')</div>
  <div class="activity-summary">#getAPEventSummary('activitypub.event.mention.summary')</div>
  <div><small class="text-muted">$compositeEventDate</small></div>
</div>
#end

#define ($details)
    #define($rows)
        #foreach($event in $compositeEvent.events)
            #set ($activity = $eventActivities.get($event))
            #set ($actor = $services.activitypub.resolve($activity.actor))
            #set ($object = $services.activitypub.resolve($activity.object))

            #define($actorLink)
              #activityPubActorLink($actor)
            #end
            #if ("$!object.url" != "")
              #if ($services.activitypub.belongsToCurrentInstance("$object.url.get(0)"))
                #set($objectLink = "<a href='$object.url.get(0)'>$object.name</a>")
              #else
                #set($objectLink =
                  "<span class='wikiexternallink'><a href='$object.url.get(0)'>$object.name</a></span>")
              #end
            #else
              #set($objectLink = $object.name)
            #end
            #set ($introduction = $services.localization.render('activitypub.event.mention.description.withActor', [$actorLink, $objectLink]))
            #displayAPEventDetail($event $actor $introduction)
        #end
    #end
    #displayNotificationEventDetailsSkeletons($events.size(), $rows)
#end

#displayNotificationEventSkeleton($mainIcon $smallIcon $content $details)